.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: white;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer .username {
  flex: 50%;
  color: white;
  text-decoration: underline;
}
.footer .username:hover {
   color: gray;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}
.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileReportPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer #inputCreatePostMessage {
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer #inputReport {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer #inputReportDetails {
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: dodgerblue;
  border-radius: 5px;
  color: white;
  position: center;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: rgb(25, 108, 190);
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 35px;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: lighter;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.leftHome {
  flex: 20%;
  position: fixed;
  left:10px
}

.leftHomeBttnCol {
  top:10px;
}

.middleHome {
  flex: 60%;
}

.rightHome {
  flex: 20%;
  position: fixed;
  right:10px
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.postPage .leftSide {
  flex: 50%;
  height: calc(70vh - 70px);
  margin-top: 0px;
  display: grid;
  place-items: center;
}

.leftSide .postType {
  flex: 50%;
  height: 0%;
  display: grid;
  place-items: left;
  text-decoration-color: black;
}

.leftSide .postTypeEditEnabled {
  flex: 50%;
  height: 0%;
  display: grid;
  place-items: left;
  text-decoration: underline;
  text-decoration-color: black;
}

.leftSide .postTypeEditEnabled:hover {
  cursor: pointer;
  text-decoration-color: lightgray;
}

.leftSide .section {
  flex: 50%;
  height: 0%;
  display: grid;
  place-items: left;
  text-decoration-color: black;
}

.leftSide .sectionEditEnabled {
  flex: 50%;
  height: 0%;
  display: grid;
  place-items: left;
  text-decoration: underline;
  text-decoration-color: black;
}

.leftSide .sectionEditEnabled:hover {
  cursor: pointer;
  text-decoration-color: lightgray;
}

.leftSide .post .title {
  text-decoration-color: black;
}

.leftSide .post .titleEditEnabled {
  text-decoration: underline white;
  text-decoration-color: white;
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: white;
}

.leftSide .post .titleEditEnabled:hover {
  cursor: pointer;
  text-decoration-color: gray;
  text-decoration: underline gray;
}

.leftSide .post .body {
  text-decoration-color: black;
}

.leftSide .post .bodyEditEnabled {
  flex: 60%;
  display: grid;
  place-content: center;
  text-decoration: underline;
  text-decoration-color: black;
  text-align: center;
}

.leftSide .post .bodyEditEnabled:hover {
  cursor: pointer;
  text-decoration-color: lightgray;
}

.leftSide .post .footer {
  flex: 20%;
  text-decoration-color: black;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  height: 40px;
  margin-top: 60px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
}

/* .addCommentContainer input {
  width: 60%;
  height: 200px;
  border-radius: 8px;
  border: none;
  overflow: hidden;
  resize: both;
  display: block;
} */

/* .addCommentContainer button {
  width: 60%;
  height: 50px;
  border-radius: 8px;
  border: none;
} */

.leftSide button {
  width: 47%;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: dodgerblue;
  color: white;
}

.addCommentContainer button {
  background-color: dodgerblue;
  color: white;
  width: 70%;
  margin-top: 1%;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer input {
  width: 70%;
  height: 200px;
  border-radius: 8px;
  /* border: none; */
  overflow: hidden;
  resize: both;
  display: block;
  border: 2px solid dodgerblue;
  /* width: 70%; */
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.listOfComments .commentAndDelete {
  width: 70%;
  height: 50%;
  border: 1px solid dodgerblue;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .titleEditEnabled,
#individual .footer {
  font-size: 30px;
}

#individual .body,
#individual .bodyEditEnabled {
  font-size: 25px;
}

/* LOGIN */

.loginContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.loginContainer input,
button {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.loginContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: dodgerblue;
  border-radius: 5px;
  color: white;
  position: center;
}

.loginContainer button:hover {
  cursor: pointer;
  background-color: rgb(25, 108, 190);
}

.loginContainer input {
  border: 2px solid dodgerblue;
}

/* TABS */
.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.rwt__tab  {
  width: 100%
}

/* RC TABS START */

.rc-tabs {
  border: none !important;
}
.rc-tabs-tab {
  padding: 5px;
  text-transform: capitalize;
}
.rc-tabs-tab .rc-tabs-tab-btn {
  font-weight: normal;
}
.rc-tabs-tab.rc-tabs-tab-active {
  background: ececec;
  color: #00a6f8;
}
.rc-tabs-ink-bar {
  background: #59c7fd !important;
}
.rc-tabs-content-holder {
  padding: 10px;
  background: #ececec;
}